*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.flex{
    display: flex;
    flex-direction: row;
}
nav ul{
    list-style: none;
    position: fixed;
    display: flex;
    top: 1%;
    right: 0;

}

.speaker-view{
    width: 100px;
    height: 20px;
    background-color: gainsboro;
    margin-right: 10px;
    border-radius: 3px;
    padding: 0 6px;
}

.icons-minimize{
    width: 30px;
    height: 20px;
    background-color: gainsboro;
    padding: 1px 8px;
    border-radius: 3px;

}
main{
    position: relative;
}
.container{
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    padding: 5rem;
       
}
.img{
    width: 300px;
    height: 200px;
    padding-right:10px ;
}
section div.colona-image{
    width: calc(100% / 7);
}
