*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
section{
    width: 80vw;
    height: 80vh;
    background-color: azure;
}

.flex{
    display: flex;
    flex-direction: row;
}
nav ul{
    list-style: none;
    position: fixed;
    display: flex;
    top: 1%;
    right: 0;

}

.speaker-view{
    width: 100px;
    height: 20px;
    background-color: gainsboro;
    margin-right: 10px;
    border-radius: 3px;
    padding: 0 6px;
}

.icons-minimize{
    width: 30px;
    height: 20px;
    background-color: gainsboro;
    padding: 1px 8px;
    border-radius: 3px;

}
.container{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90vw;
    height: 50vh;
    padding: 10%;

    background-color: white;
    
}